{% extends 'breakfast/base.html' %}
    {% load staticfiles %}

    {% block title_block %}
        Add Recipe
    {% endblock %}

    {% block body_block %}
    <div class="container"> 
            <div align="center">
                <form class="formcontainer" enctype="multipart/form-data" id="recipe_form" method="POST" action="{% url 'add_recipe' %}">
                    <h1>Upload a new recipe</h1>
                    <p style="text-align: center;">Please fill in this form to add a new recipe.</p>
                    <hr>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div>
                            {{ field.errors }}
                            <strong>{{ field.help_text }}</strong>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Upload Recipe" />
                </form>
            </div>
        </div>
        </div>
    {% endblock %}