
<!DOCTYPE html>
{% load breakfast_template_tags %} 
{% load staticfiles %}
<html> 
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static "images/toastFav.ico" %}"/>
        <title> 
            Breakfast -
            {% block title_block %}
                World of Breakfast
            {% endblock %} 
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/breakfast.js" %}"></script>
    </head> 
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <!--<img id="toastLogo"class="pull-left" src="{% static "images/toast.png" %}" href="{% url 'home' %}">-->
            <a class="navbar-brand" id="siteTitle"><strong>World of Breakfast</strong></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="#"><a href="{% url 'home' %}"><strong>Home</strong></a></li>
              <li><a href="{% url 'about' %}"><strong>About</strong></a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Continents</strong><span class="caret"></span></a>
                <ul class="dropdown-menu">
                <!--urls are hard coded here as it was not possible to create a url pattern for base whos scope was all project urls-->
                <!--but continent names are unlikely to change any time soon, so this is acceptable-->
                      <li><a href="/breakfast/continent/north-america/">North America</a></li>
                      <li><a href="/breakfast/continent/latin-america/">Latin America</a></li>
                      <li><a href="/breakfast/continent/africa/">Africa</a></li>
                      <li><a href="/breakfast/continent/europe/">Europe</a></li>
                      <li><a href="/breakfast/continent/asia/">Asia</a></li>
                      <li><a href="/breakfast/continent/oceania/">Oceania</a></li>
                      <li><a href="#">Antartica</a></li>
                </ul>
              </li>
              <li><a href="/search/"><strong>Search Recipes</strong></a></li>
              <li><a href="{% url 'contact_us' %}"><strong>Contact us</strong></a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'auth_logout' %}?next=/breakfast/"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                  <li class="active"><a href="{% url 'my_account' user.username %}" style="background-color: #00394d;"><span class="glyphicon glyphicon-user"></span> Hi,{{ user.username }} || Account </a></li>
                {% else %}
              <li><li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <div>
        {% block body_block %} 
        {% endblock %}
      </div> 
      <div>
        <br> 
      </div>
      <!-- <footer class="container-fluid text-center">
        <p>World of Breakfast</p>
        <p>"Start your day the global way"</p>
      </footer> -->
    </body> 
</html>