{% extends 'breakfast/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipes
{% endblock %}
{% block body_block %}
<style> 
.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color:  #006699;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
#recipe:hover .overlay {
  width: 100%;
  left: 0;
}
#recipe {
  position: relative;
  width: 100%;
}
.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#recipeLabel{
    color: #006699;
}

</style>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Recipes</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                    <figure id="recipe" class="fh5co-card-item image-popup">
                        
                        <img src="{{ MEDIA_URL}}about2.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">Fresh Mushrooms 
                                    <p> Description:</p>
                                    <p>his is a common recipe and sjflkjskjfksjfkskjfksdjk </p>
                                    <p></p>

                                     </div>
                        </div>
                    </figure>
                div class="fh5co-text" id="recipeLabel">
                      <!----< <a href="{% url 'recipe_page' %}">
                           
                       </a> !---->
                       <h4>Fresh Mushrooms</h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure id="recipe" class="fh5co-card-item image-popup">                        
                        <img src="{{ MEDIA_URL}}about1.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">Cheese & Garlic Toast
                                        <p> Description:</p>
                                        <p>This is a common recipe and sjflkjskjfksjfkskjfksdjk </p>
                                </div>
                        </div>
                    </figure>
                    <div class="fh5co-text" id="recipeLabel">
                        <h4>Cheese and Garlic Toast</h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                        <p></p>


                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure id="recipe" class="fh5co-card-item image-popup">                        
                        <img src="{{ MEDIA_URL}}about3.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">This is a common recipe and sjflkjskjfksjfkskjfksdjk </div>
                        </div>
                    </figure>
                    <div class="fh5co-text" id="recipeLabel">
                        <h4>Grilled Chiken Salad </h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                        <p></p>


                    </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure id="recipe" class="fh5co-card-item image-popup">                        
                        <img src="{{ MEDIA_URL}}about2.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">Organic Egg
                                        <p> Description:</p>
                                        <p>This is a common recipe and sjflkjskjfksjfkskjfksdjk </p>
                                        <p></p>
                                     </div>
                        </div>
                    </figure>
                    <div class="fh5co-text" id="recipeLabel">
                        <h4>Organic Egg </h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                    </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <figure id="recipe" class="fh5co-card-item image-popup">                        
                        <img src="{{ MEDIA_URL}}about4.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">Tomato Soup with Chicken
                                        <p> Description:</p>
                                        <p>This is a common recipe and sjflkjskjfksjfkskjfksdjk </p>
                                        <p></p>
                                </div>
                        </div>
                    </figure>
                    <div class="fh5co-text">
                        <h4>Tomato Soup with Chicken</h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                    <figure id="recipe" class="fh5co-card-item image-popup">                        
                        <img src="{{ MEDIA_URL}}about1.jpg" alt="Image" class="img-responsive">
                        <div class="overlay">
                                <div class="text">Salad with Crispy Chicken
                                        <p> Description:</p>
                                        <p>This is a common recipe and sjflkjskjfksjfkskjfksdjk </p>
                                        <p></p>
                                </div>
                        </div>
                    </figure>
                    <div class="fh5co-text" id="recipeLabel ">
                        <h4>Salad with Crispy Chicken</h4>
                        <button type="button" class="btn btn-primary">View Recipe</button>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


{% endblock %}