 {% extends 'breakfast/base.html' %} {% load staticfiles %} {% block title_block %} Home {% endblock %} {% block body_block %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img id="carousel-pic" src="{{ MEDIA_URL}}pic1.jpg">
            <div class="carousel-caption">
                <!-- <h3>Sell $</h3>
              <p>M</p> -->
            </div>
        </div>

        <div class="item">
            <img id="carousel-pic" src="{{ MEDIA_URL}}pic11.jpg" alt="Image">
            <div class="carousel-caption">
                <!-- <h3>More Sell $</h3>
              <p>Lorem ipsum...</p> -->
            </div>
        </div>
        <div class="item">
            <img id="carousel-pic" src="{{ MEDIA_URL}}pic16.jpg" alt="Image">
            <div class="carousel-caption">
                <!-- <h3>More Sell $</h3>
                  <p>Lorem ipsum...</p> -->
            </div>
        </div>
        <div class="item">
            <img id="carousel-pic" src="{{ MEDIA_URL}}pic13.jpg" alt="Image">
            <div class="carousel-caption">
                <!-- <h3>More Sell $</h3>
                      <p>Lorem ipsum...</p> -->
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-sm-8 text-center">
                <h3>Select a Continent To View Recipes</h3><br>
                <img id="mappic" src="{{ MEDIA_URL}}worldMap.jpg" alt="worldMap" usemap="#worldMap"> {% if continents %} {% for continent in continents %}
                <map name="worldMap">
                  {% if continent.name == "North America" %}
                    <area shape="rect" coords="70,10,320,250" alt="North America" href="{% url 'continent_page' continent.slug %}">{{continent.name}}
                    {% endif %} 
                    {% if continent.name == "Latin America" %}
                    <area shape="rect" coords="160,260,300,400" alt="Latin America" href="{% url 'continent_page' continent.slug %}">{{continent.name}}
                    {% endif %} 
                    {% if continent.name == "Africa" %}
                    <area shape="rect" coords="320,200,430,350" alt="Africa" href="{% url  'continent_page' continent.slug %}">{{continent.name}}
                    {% endif %} 
                    {% if continent.name == "Europe" %}
                    <area shape="rect" coords="350,110,450,170" alt="Europe" href="{% url 'continent_page' continent.slug %}">{{continent.name}}
                    {% endif %} 
                    {% if continent.name == "Asia" %}
                    <area shape="rect" coords="470,20,650,230" alt="Asia" href="{% url 'continent_pagee' continent.slug %}">{{continent.name}}
                    {% endif %} 
                    {% if continent.name == "Oceania" %}
                    <area shape="rect" coords="590,300,680,380" alt="Oceania" href="{% url 'continent_page' continent.slug  %}">{{continent.name}}
                    {% endif %} 
                </map> {% endfor %} {% endif %}
            </div>
            <div class="col-sm-4">
                <h3>Getting Started</h3><br>
                <div class="well">
                    <p> Hover your mouse on any of the continents</p>
                    <p>Click on a continent to get to its recipe page</p>
                    <p>Each continent has a list of 5 most popular break fast dishes</p>
                    <p>Sign up to get access to build your own recipe book and be the first to know about our new recipes</p>
                    <p> You also get a chance to engage with our community of users</p>
                </div>
            </div>
            <form>
                <!--button type="button" class="btn btn-primary" onclick="openWin()">Sign Up</button-->
				<input type="button" value="Sign up" onclick="location.href='http://127.0.0.1:8000/breakfast/sign_up/'"</input>
            </form>
        </div>
    </div>

    {% endblock %}