{% extends 'breakfast/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
<div class="container-fluid">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
    <h1>My Profile</h1>
    <br>
    <div class="card">
    <img src="{{ MEDIA_URL }}{{userprofile.picture }}" width="300" height="300" alt="{{selecteduser.username}}" />
    <h2>{{selecteduser.username}}</h2>
    <h3>{{selecteduser.email}}</h3>
        <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
    <br/>
    </div>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Upload" />
            </form>
        {% else %}
        {% endif %}
    </div>
    <div id="edit_profile"></div>
    <br>
    <button class="btn btn-primary" onclick="location.href='{% url 'add_recipe' %}'">Add recipe</button>
    <br>
    <br>
    </div>
    </div>
    </div>
    
{% endblock %}